button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.4em 2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
	color: #000;
  background-color: #f4e041;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
	background-color: #FFE302;
	;
}