.card {
  background-color: white;
}

.userCard {
	padding: 20px;
}

.userCard img {
  border-radius: 50px;
}

.userCard p {
	margin: 0;
	overflow-wrap: break-word;
}

.userCard h3 {
	overflow-wrap: break-word;
}